<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="project_CinemaManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="project_CinemaManager.Properties.Settings.QLRPConnectionString_GetMessage"
            connectionString="Data Source=35.220.208.39;Initial Catalog=QLRP;Persist Security Info=True;User ID=sqlserver;Password=Hien9029"
            providerName="System.Data.SqlClient" />
        <add name="project_CinemaManager.Properties.Settings.QLRPConnectionString_GetTicket"
            connectionString="Data Source=35.220.208.39;Initial Catalog=QLRP;Persist Security Info=True;User ID=sqlserver;Password=Hien9029"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <project_CinemaManager.Properties.Settings>
            <setting name="ServerName" serializeAs="String">
                <value>35.220.208.39</value>
            </setting>
            <setting name="InitialCatalog" serializeAs="String">
                <value />
            </setting>
            <setting name="connectionSTR" serializeAs="String">
                <value />
            </setting>
            <setting name="UserID" serializeAs="String">
                <value>sqlserver</value>
            </setting>
            <setting name="pwd" serializeAs="String">
                <value>Hien9029</value>
            </setting>
            <setting name="RefreshTimeOut" serializeAs="String">
                <value>1500</value>
            </setting>
            <setting name="appAccount" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="appPassword" serializeAs="String">
                <value>admin</value>
            </setting>
        </project_CinemaManager.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reflection.Metadata" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.XlsIO.Base" publicKeyToken="3d67ed1f87d44c89" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-19.2460.0.44" newVersion="19.2460.0.44" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Pdf.Base" publicKeyToken="3d67ed1f87d44c89" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-19.2460.0.44" newVersion="19.2460.0.44" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Bold.Licensing" publicKeyToken="632609b4d040f6b4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1460.79.0" newVersion="4.1460.79.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.DocIO.Base" publicKeyToken="3d67ed1f87d44c89" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-19.2460.0.44" newVersion="19.2460.0.44" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Licensing" publicKeyToken="632609b4d040f6b4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-19.2460.0.44" newVersion="19.2460.0.44" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>